@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1>Get to know Joel!</h1>
    <br />
    <h4>Come see him perform at Quick Wits Comedy!</h4>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br /><br />
    <h4>Check out his weekly podcast about films and pop culture!</h4>
    <a href="https://baconsale.com/">Baconsale</a>
    <br /><br />
    <a href="https://baconsale.com/">
        <img src="~/img/baconsale.jpg" alt="baconsale" height="300"/>
    </a>
</div>